/* SFONDI E COLORI */

.bg-white{
    background-color: #fff;
    color:#031b4f;
}

.bg-blue{
    background-image: linear-gradient(#0047c5, #001e99);
    color:#fff;
}

.bg-grey{
    background-color: #f3f5f9;
    color:#031b4f;
}

.bg-darkblue{
    background-color: #010e28;
    color:#fff;
}

/* FINE SFONDI E COLORI */

/* TIPOGRAFIA */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    font-weight: bold;
}

p, span {
    font-family: 'Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    font-size: 16px;
}

h4 {
    text-transform: uppercase;
    color: #5b6986;
}

h2 + p {
    font-size: 20px
}

.bg-white p,
.bg-grey p {
    color: #5b6987;
}

li, a {
    color:#006aff;
}

li:hover, a:hover {
    color:#006aff;
}

.vc_mark {
    color:#006aff;
}

/* FINE TIPOGRAFIA */

/* STRUTTURA */

section,
footer {
    padding-top:50px;
    padding-bottom: 50px;
}

.vc_vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* header */

.vc_navbar {
    margin-bottom: 0;
    border: none;
    background-color: inherit;
}

.vc_navbar-brand img {
    height:100%;
}

.vc_navbar .vc_navbar-collapse li,
.vc_navbar .vc_navbar-collapse li a {
    color:#031b4f;
    font-family: 'Helvetica', 'sans-serif';
}

.vc_btn-default {
    color: #006aff;
    background-color: #fff;
    border-color: #006aff;
}

/* personalizzazione hamburger */

.vc_navbar-toggle {
    border:none;
}

.vc_navbar .vc_navbar-toggle .icon-bar {
    background-color: #006aff;
}

/* banner */

.vc_banner {
    background-color: #0069ff;
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}

.vc_banner .jumbotron {
    background: none;
}

.h-300 {
    height:300px;
}

.vc_form .vc_title span {
    display: block;
    font-size: 26px;
}

.vc_form {
    width:100%;
    border-radius: 5px;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.vc_form .btn {
    width:100%;
    margin-bottom:10px;
}

.vc_form .btn.vc_create {
    box-shadow: none;
    border:none;
    background-color: #579aff;
    color:#fff;
}

.vc_form .btn.vc_create:hover {
    background-color: #006aff;
}

.vc_form .btn.vc_signup {
    box-shadow: 2px 2px 4px #888888;
    border:none;
}

.vc_form span {
    font-size: 12px;
}

.vc_banner .vc_form button img {
    height: 20px;
}

/* clients */

.vc_clients .row{
    padding-top: 30px;
    padding-bottom:30px;
}

.vc_clients img {
    margin-left: auto;
    margin-right: auto;
}

/* properties */

.vc_properties .vc_menu-list {
    height:100px;
}

.vc_properties .vc_list-group {
    margin-left: auto;
    margin-right: auto;
    width: 390px;
}

.vc_properties .vc_list-group-item {
    border-top: none;
    border-right:none;
    border-bottom: 1px solid #ddd;
    border-left: none;
    float:left;
}

.vc_properties .vc_list-group-item li,
.vc_properties .vc_list-group-item a {
    color: #5b6987;
}

.vc_properties .vc_menu-selezione {
    margin-top:50px;
}

.vc_properties .vc_menu-selezione .vc_box {
    margin-bottom: 30px;
}

/* carousel */

.vc_carousel-row {
    margin-top:100px;
    margin-bottom:80px;
}

.vc_carousel .vc_icona {
    display:none;
    height: 300px;
}

.vc_carousel .vc_icona i {
    font-size: 30px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.vc_carousel span {
    margin-top: 20px;
    display:block;
}

.vc_carousel .vc_dots i {
    color: #006aff;
}

.vc_carousel .vc_blockquote {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.vc_carousel .vc_blockquote img {
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.vc_carousel .vc_blockquote .vc_quote {
    font-size: 20px;
    color: #5b6987;
}

.vc_carousel .vc_blockquote .vc_quoter {
    font-weight: bold;
}

.vc_carousel .vc_blockquote .vc_quoter-position {
    margin:0 auto;
}

/* FEATURES */

.vc_feature {
    padding-top: 30px;
}

/* LOCATIONS */

.vc_locations {
    background-color: #031b4e;
    background-image: url('https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}

.vc_locations .vc_code {
    width:60px;
    font-weight: bold;
    font-size: 12px;
}

.vc_locations .vc_place {
    width:125px;
    font-size: 11px;
}

.vc_locations .vc_location .vc_loc {
    border-bottom:1px solid #fff;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.vc_locations .vc_location:nth-last-of-type(1) .vc_loc {
    border-bottom:1px solid transparent;
}

.vc_loc{
    width: 95%;
    height:40px;
    position:relative;
}

.vc_locations .vc_location .vc_loc a {
    color: aqua;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 10px;
}

/* FOOTER */
footer img,
footer span {
    display: block;
    color:lightgray;
}

footer img {
    padding-bottom:10px;
}

footer .vc_social i {
    color:lightgray;
    font-size: 28px;
    padding-right: 10px;
}

footer h6 {
    font-size: 16px;
}

footer ul {
    list-style: none;
    padding-left:0;
}

footer li,
footer a {
    color: lightgray;
}

footer li:hover,
footer a:hover {
    color: #fff;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (min-width:768px) {

    .h-500 {
        height:500px;
    }

    .vc_carousel .vc_icona {
        display:block;
    }

    .vc_text-left-sm {
        text-align: left;
    }

    .vc_properties .vc_list-group-item {
        border-bottom: none;
        border-left: 1px solid #ddd;
        float:none;
    }

    .vc_properties .vc_menu-list {
        height:100%;
    }

    .vc_properties .vc_list-group {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .vc_locations .vc_location:nth-last-of-type(-n + 2) .vc_loc {
        border-bottom:1px solid transparent;
    }

    .vc_locations .vc_code {
        width:80px;
        font-weight: bold;
        font-size: 12px;
    }
}

@media screen and (min-width:992px) {
    .vc_carousel-row {
        margin-top:50px;
        margin-bottom:0;
    }

    /* .vc_locations .vc_location .vc_loc:nth-last-of-type(-n + 4) {
    border-bottom: none;
    } */

}

/* FINE STRUTTURA */

/* DA FARE
OK - ridurre a mano la larghezza delle voci di menu in md - logo
OK - allineamento form in banner (row dentro container?) - dare altezza a col
OK - aggiungere la G di Google al form
OK - ridurre a mano la larghezza dei loghi clients in md (img-responsive?)
OK - properties aggiornate al nuovo sito
OK - centramento verticale delle i dei carousel (before e after?)
- togliere border-bottom alle ultime due righe di location
OK - responsive generale
- centratura della scritta nel bottone google del form nel banner
OK - svg di sfondo
- form centrato orizzontalmente da mobile
 */
