/* SFONDI E COLORI */

.bg-white{
    background-color: #fff;
    color:#031b4f;
}

.bg-blue{
    background-image: linear-gradient(#001e9a, #00475c);
    color:#fff;
}

.bg-grey{
    background-color: #f3f5f9;
    color:#031b4f;
}

.bg-darkblue{
    background-color: #010e28;
    color:#fff;
}

/* FINE SFONDI E COLORI */

/* TIPOGRAFIA */

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
}

.bg-white p {
    color: #5b6987;
}

/* FINE TIPOGRAFIA */

/* STRUTTURA */

/* header */
section .container,
footer .container { /* da cancellare */
    height:100px;
    border:1px solid red;
}

.vc_navbar {
    margin-bottom: 0;
    border: none;
    background-color: inherit;
}

.vc_navbar .vc_navbar-collapse li,
.vc_navbar .vc_navbar-collapse li a {
    color:#031b4f;
    font-family: 'Helvetica', 'sans-serif';
}

.vc_btn-default {
    color: #006aff;
    background-color: #fff;
    border-color: #006aff;
}

/* personalizzazione hamburger */

.vc_navbar-toggle {
    border:none;
}

.vc_navbar .vc_navbar-toggle .icon-bar {
    background-color: #006aff;
}

/* FINE STRUTTURA */
